body{
    background-color: yellow;
}
.box {
    width:flex;
    height:flex;
    background-color: black;
}
.texto{
    color: yellow;
    
}
.imagem-container {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 30px;
}